<form *ngIf=" ! isNewUser && ! isLoggedIn " id="container" ngForm name="loginForm" #loginForm="ngForm" (ngSubmit)=" authenticate(loginForm) ">
<label id="user">Username</label>

<input required minlength= "5" maxlength="7" ngModel  name="username" #username="ngModel"   type="text" class="txtbox" id="txtusername">
<div class="alert alert-danger" *ngIf=" username.dirty && username.errors?.required">* Username is required</div>
<div class="alert alert-danger" *ngIf=" username.touched && username.errors?.minlength">* Invalid Username</div>
<label id="pwd">Password</label>
<input required ngModel name="password" #password="ngModel" type="password" class="txtbox txtpswd" id="txtPassword">
<div class="alert alert-danger" *ngIf=" password.dirty && password.errors?.required">* Password is required</div>
<input type="checkbox" id="check" name="check"><label id="msg">Keep me logged in</label>
<input type="submit" value="Login" name="btnLogin" [disabled]="!loginForm.valid" >
</form>

<div *ngIf="!isNewUser && !isLoggedIn" id="container1">
<label id="msg1">Don't have account?</label>
<input type="button" id="reg" name="btn" value="Register" (click)="onClick()">
</div>

<signup ngForm name="userRegistrationFrom" #userRegistrationFrom="ngForm" id="container2" *ngIf="isNewUser && !isLoggedIn" (ngSubmit)="registerNewuser()"></signup>
<home *ngIf="isLoggedIn"></home>