<div id="container">
<form>
<label>Employee Number</label>
<input type="text" name="empnum" required >
<label>Employee Name</label>
<input type="text" name="empname" required>
<label>Certification Name</label>
<select id="list" required>
<option value="gp">Select</option>
<option value="ocjp">OCJP</option>
<option value="hp">HP-UFT</option>
<option value="istq">ISTQB</option>
<option value="ins21">INS21</option>
<option value="ins22">INS22</option>
<option value="ins23">INS23</option>
</select>
<label>Mode of Certification</label>
<select id="list" required>
<option value="gp">Select</option>
<option value="external">External</option>
<option value="tcs">TCS-Internal</option>
<option value="ion">iON Platform</option>
</select>
<label>Completed On</label>
<input type="Date" name="date" required>
<input type="Button" value="Submit"  name="submit"> <input type="Reset" Value="Reset" name="reset">
</form>
</div> 