<div id="container">
    <h3>Add Certification Details</h3>
<form ngForm name="addCertificateForm" #addCertificateForm="ngForm" (ngSubmit)="onSubmit(employeeId, employeeName, certificationName, certificationMode, completedOn, score, grade, status)" >
<label>Employee Number</label>
<input type="text" name="empnum" required #employeeId> <br>
<label>Employee Name</label>
<input type="text" name="empname" required #employeeName> <br>
<label>Certification Name</label>
<select id="list" required #certificationName>
    <option value=""></option>
<option *ngFor="let certificate of certificateNameList" value="{{ certificate.code }}">{{ certificate.name }}</option>
</select>  <br>
<label>Mode of Certification</label>
<select id="list" required #certificationMode>
<option value=""></option>
<option *ngFor="let mode of certificateModeList" value="{{ mode.code }}">{{ mode.name }}</option>
</select>   <br>
<label>Completed On</label>
<input type="Date" name="date" required #completedOn> 
<label>Score</label>
<input type="text" name="score" required #score> <br>
<label>Grade</label>
<input type="text" name="grade" required #grade> <br>
<label>Status</label>
<input type="text" name="status" required #status> <br>
<br><br>
<input type="submit" value="Submit"  name="btnSubmit">
<input type="Reset" Value="Reset" name="btnReset">
</form>
</div>