#container
{
	width: 550px;
	height: 610px;
	background: #E4E1E1;
	z-index: 10;
	left: 20%;
}

form
{
	margin: 0 auto;
	margin-top: 20px;
}

label
{
	color: black;
	display: inline-block;
	margin-left: 18px;
	padding-top: 10px;
	font-size: 14px;
	height: 35px; 
	width: 180px;
}

input[type=text]
{
	color: #777;
	padding-left: 10px;
	margin: 10px;
	margin-top: 12px;
	margin-left: 18px;
	width: 290px;
	height: 35px; 
	border: 1px solid #c7d0d2;
	border-radius: 10px;
	box-shadow: inset 0 1.5px 3px rgba(190,190,190,.4), 0 0 0 5px #f5f7f8;
}

input[type=submit]
{
	margin-right: 25px;
	margin-top: 20px;
	width: 80px;
	height: 35px;
	font-size: 14px;
	font-weight: bold;
	color: black;
	background-color: orange;
	border-radius: 10px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.5);
	cursor: pointer;
}

input[type=reset]
{
	margin-right: 10px;
	margin-top: 20px;
	width: 80px;
	height: 40px;
	font-size: 14px;
	font-weight: bold;
	color: black;
	background-color: orange;
	border-radius: 10px;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,.5);
	cursor: pointer;
}

#list
{
	color: #777;
	padding-left: 10px;
	margin: 10px;
	margin-top: 12px;
	margin-left: 18px;
	width: 300px;
	height: 35px;
	border: 1px solid #c7d0d2;
	border-radius: 10px;
	box-shadow: inset 0 1.5px 3px rgba(190,190,190,.4), 0 0 0 5px #f5f7f8;
}

input[type=date]
{
color: #777;
background: url(//calendar.png);
background-repeat: no-repeat;
background-size: 7%;
padding-left: 10px;
background-position: right;
margin: 10px;
margin-top: 12px;
margin-left: 18px;
width: 290px;
height: 35px; 
border: 1px solid #c7d0d2;
border-radius: 10px;
box-shadow: inset 0 1.5px 3px rgba(190,190,190,.4), 0 0 0 5px #f5f7f8;
}


::-webkit-calendar-picker-indicator
{
color: rgba(0,0,0,0);
opacity: -5;
}
::-webkit-calendar-picker-indicator::after
{
content: '';
display: block;
background: url(//calendar.png);
background-size: 10%;
width: 100px;
height: 100px;
position: absolute;
transform: translate(-2%);
}