<form>
    <h1>
        Create your own Account
    </h1> <br>
<label>Employee Number</label>
<input type="Number" name="empnum"><br>
<label>Employee Name</label>
<input type="text" name="empname"><br>
<label>Email</label>
<input type="text" name="empmail" placeholder="abc@abc.com"><br>
<label>Password</label>
<input type="Password" name="pwd" placeholder="(maximum 6 characters)"><br>
<label>Confirm Password</label>
<input type="Password" name="confirmpwd" placeholder="(Re-enter password)"><br>
<label>Date of Joining</label>
<input type="Date" name="date"><br>
<label>Role</label>
<select id="list">
<option value="gp">Select</option>
<option value="gp">Group Lead</option>
<option value="ld">L&D Spoc</option>
<option value="tl">Team Lead</option>
<option value="tm">Team Member</option>
</select>
<br>
 <input type="submit" value="Register"  name="register">
 <a href="#" class="link">Already registered?</a>
</form>