<div class="searchcontainer">
  <div>
  <form ngForm name="searchByNameForm" #searchByNameForm="ngForm" (ngSubmit)="getCertificatesList(employee)">
      <label>Employee Number/Name</label>
      <input type="text" name="employee" #employee><br><br>
      <input type="submit" value="Search"  name="search">
  </form>
  </div>
  <div id="tab">
    <div *ngIf= "empSearchCount==0"><h4>Employee Details not Found. Enter correct Employee details.</h4></div>
  <table *ngIf= "empSearchCount>0">
      <caption>Certificate Details for {{employee.value}}</caption>
  <tr>
  <th>Certificate Name</th>
  <th>Date Completed</th>
  <th>Certification Mode</th>
  <th>Score</th>
  <th>Grade</th>
  <th>Status</th>
  <th>Edit Details</th>
  </tr>
  <tr *ngFor="let list of certificateList">
  <td>{{ list.CertificationId }}</td>
  <td>{{ list.CompletedOn }}</td>
  <td>{{ list.CertificationMode }}</td>
  <td>{{ list.Score }}</td>
  <td>{{ list.Grade }}</td>
  <td>{{ list.Status }}</td>
  <td><input type="button" name="edit" value="Edit"></td>
  </tr>
  </table>
  </div> 
  </div>