<div class="searchcontainer">
<div>
<form ngForm name="searchByNameForm" #searchByNameForm="ngForm" (ngSubmit)="getCertificatesByName(employeeId)" >
    <label>Employee Number/Name</label>
    <input type="Number" name="employeeId"><br><br>
    <input type="submit" value="Search"  name="search">
</form>
</div>
<div id="tab">
<table *ngIf= "notempty"  >
<tr>
<th>Certificate Name</th>
<th>Date</th>
<th>Mode</th>
<th>Edit Details</th>
</tr>
<tr *ngFor="let list of certificateList">
<td>{{ list.name }}</td>
<td>{{ list.completionDate }}</td>
<td>{{ list.cerertificationMode }}</td>
<td><input type="button" name="edit" value="Edit"></td>
</tr>
</table>
</div> 
</div>